<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Admin.DAO.AdminMapper">
	<select id="selectAllUsers" resultType="User">
		select * from users;
	</select>
	
	<update id="updateUserAble" parameterType="int">
		update users set able=#{able} where userNo = #{userNo}
	</update>
	
	<delete id="deleteUserFromDB" parameterType="int">
		delete from users where userNo = #{userNo}
	</delete>
	
	<select id="selectAllReports" resultType="Report">
		select * from report;
	</select>

	<delete id="deleteReportFromDB" parameterType="int">
		delete from report where reportNo = #{reportNo}
	</delete>
	
	<!-- 전체목록보기 -->
	<select id="selectAllProduct" resultType="Product">
		select * from products;
	</select>
	
	<!-- able변경 -->
	<update id="updateAbleProduct" parameterType="int">
		update products set able=#{param1} where proNo = #{param2}
	</update>
	
	<!-- 완전삭제 -->
	<delete id="deleteProduct" parameterType="int">
		delete from products where proNo = #{proNo}
	</delete>
</mapper>

 
