<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Admin.DAO.AdminMapper">
	<select id="selectAllUsers" resultType="User">
		select * from users;
	</select>
	
	<update id="updateUserAble" parameterType="int">
		update users set able=#{param2} where userNo = #{param1}
	</update>
	
	<delete id="deleteUserFromDB" parameterType="int">
		delete from users where userNo = #{userNo}
	</delete>
	
	<!-- 유저 삭제 시 관련 정보 삭제  -->
	<delete id="deleteAllReviewByUser" parameterType="int">
		delete from Review where pageNo = #{userNo} or userNo = #{userNo}
	</delete>
	
	<delete id="deleteAllFavoriteByUser" parameterType="int">
		delete from favorite where userNo = #{userNo}
	</delete>


	<!-- 신고 -->
	<select id="selectAllReports" resultType="Report">
		select * from report;
	</select>

	<delete id="deleteReportFromDB" parameterType="int">
		delete from report where reportNo = #{reportNo}
	</delete>
	
	<!-- 게시글 조회 -->
	<select id="selectOneProduct" resultType="Product" parameterType="int">
		select * from products where proNo = #{proNo}
	</select>

	<!-- 해당 글의 이미지 조회 -->
	<select id="selectImagesByProduct" resultType="Image" parameterType="int">
		select * from image where proNo = #{proNo};
	</select>	



	<!-- 전체목록보기 -->
	<select id="selectAllProduct" resultType="Product">
		select * from products;
	</select>
	
	<!-- able변경 -->
	<update id="updateAbleProduct" parameterType="int">
		update products set able=#{param2} where proNo = #{param1}
	</update>
	
	<!-- 완전삭제 -->
	<delete id="deleteProduct" parameterType="int">
		delete from products where proNo = #{proNo}
	</delete>
	
	<delete id="deleteAllFavoriteByProduct" parameterType="int">
		delete from favorite where proNo = #{proNo}
	</delete>
	
	<delete id="deleteAllImagesByProduct" parameterType="int">
		delete from image where proNo = #{proNo}
	</delete>
	
	
	<!-- 유저가 쓴 모든 글 보기 -->
	<select id="selectAllProductsByUser" resultType="Product" parameterType="int">
		select * from products where userNo= #{userNo}
	</select>
</mapper>

 
