<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Favorite.DAO.FavoriteMapper">
	<insert id="insertUser" parameterType="Favorite">
		insert into favorite(userNo, proNo) values(#{userNo}, #{proNo})
	</insert>
	
	<select id="selectFavoriteList" resultType="User">
		select * from favorite
	</select>

	<delete id="deleteFavorite" parameterType="int">
		delete from favorite where favoNo = #{favoNo}
	</delete>
</mapper>

 
