@charset "UTF-8";

.adminHeader {
	text-align: center;
	margin-top: 30px;
}

.adminNotice-divTitle {
	margin: auto;
	margin-bottom: 60px;
	font-size: 20px;
	font-weight: bolder;
	margin-left: 300px;
}

.adminNoticeWrite-div {
	margin-top: 50px;
	margin-left: 30px;
}

.adminNoticeWrite-title {
	margin-bottom: 10px;
}

.adminNoticeWrite-title1 {
	margin-bottom: 10px;
}

.adminNoticeWrite-inputTitle {
	width: 715px;
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 1px;
}

.adminNoticeWrite-content {
	margin-bottom: 10px;
}

.adminNoticeWrite-textarea {
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 3px;
}