@charset "UTF-8";

.adminReport-table{
	 text-align: center;
	 border: 1px solid black;
	 width: 100%;
	 max-width: 95%;
	 margin: auto;
}

.adminReport-div{
	text-align: center;
	width: 400px;
	word-wrap: break-word;
	margin: auto;
}