@charset "UTF-8";

.adminHeader {
	text-align: center;
	margin-top: 30px;
}

.adminReport-divTop {
	height: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

.adminNotice-divTitle {
	text-align: center;
	margin: auto;
	margin-bottom: 30px;
	font-size: 20px;
	font-weight: bolder;
}

.adminReport-table {
	width: 100%;
	max-width: 95%;
	margin: auto;
	text-align: center;
	border: 3px solid #6666667a;
	font-size: 12px;
	border-collapse: collapse;
}

.adminReport-div {
	text-align: center;
	width: 400px;
	word-wrap: break-word;
	margin: auto;
}

.adminReport-table thead tr {
	background-color: #9e9e9e40;
	height: 30px;
}

.adminReport-table thead tr th {
	border: 1px solid #c0c0c0;
}

.adminReport-table td {
	border: 1px solid #c0c0c0;
	height: 30px;
}