@charset "UTF-8";

dl{
	padding: 0px 30px 0px 30px;
}
dd{
	margin: auto;
}

ul{
	overflow: hidden;
    display: inline-block;
    float: right;
    margin-top: -22px;
}
li{
	float: left;
    margin-left: 10px;
}

.footer{
	width: 100%;
	border-top: 1px solid;
}

.footer-logo{
	float: left;
    line-height: 90px;
    margin-right: 20px;
}

.footer-info{
	font-size: 14px;
}

.footer-copy{
	font-size: 12px;
	margin-top: 10px;
	display: inline-block;
}

.footer-conts{
    position: relative;
    clear: both;
    border-top: 1px solid;
    padding-top: 10px;
}

.middle{
	height: 240px;
	padding: 10px 20px 20px 20px;
}

.footer-joongo,
.footer-center,
.footer-ele{
	float: left;
	border-left: 1px solid;
	height: 120px;
	margin-bottom: 20px;
}