@charset "UTF-8";

.footer{
	width: 100%;
	border-top: 1px solid;
}

.footer-info{
	font-size: 14px;
}

.footer-copy{
	font-size: 12px;
	margin-top: 10px;
}

.middle{
	border: 1px solid;
	height: 100x;
	padding: 30px 20px 40px 20px;
}
dl{
	border-left: 1px solid;
	padding: 0px 10px 0px 10px;
}

.footer-joongo,
.footer-center,
.footer-ele{
}