@charset "UTF-8";

#notice-topDiv {
	padding-bottom: 120px;
}

#notice-title {
	font-size: 2.5em;
	font-weight: bolder;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 30px;
}

#notice-title_sub {
	font-size: 1.25em;
	font-weight: bolder;
	color: #666;
	text-align: center;
	color: #666
}

.notice-tbody_title {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 5px solid #f4c9c9;
	height: 70px;
	text-align: left;
	font-size: 18px;
	font-weight: bolder;
	width: 32%;
}

#notice-header:after {
	content: '';
	display: block;
	width: 14.5em;
	margin: 34px auto 0;
	border-top: 2px solid #e81e22;
}

#notice-table {
	width: 1000px;
	text-align: center;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 50px;
	border-bottom: 5px solid #f4c9c9;
	border-collapse: collapse;
	background-color: transparent;
	table-layout: auto;
}

#noticeContent-table {
	width: 1000px;
	text-align: center;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 50px;
	border-bottom: 5px solid #f4c9c9;
	border-collapse: collapse;
	background-color: transparent;
	table-layout: auto;
}

#notice-table thead {
	background-color: #fde0e0;
}

#notice-table th {
	text-align: center;
}

.notice-thead_td {
	padding: 8px;
	border-top: 5px solid #f4c9c9;
	height: 70px;
	font-weight: bolder;
}

.noticeContent-thead_td {
	padding: 8px;
	border: 5px solid #f4c9c9;
	height: 70px;
	font-weight: bolder;
	font-size: 15px;
}

#notice-topContentDiv {
	padding-bottom: 50px;
}

.notice-divContent {
	width: 900px;
	word-wrap: break-word;
	margin: auto;
	margin-top: 40px;
	text-align: center;
}

.notice-atag:hover {
	color: #f76e6e;
}

.notice-noticeListBtn {
	position: relative;
	width: 150px;
	height: 56px;
	border: 1px solid #fe8181;
	background-color: #fe8181;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
	color: #fff;
	margin-right: 5px;
	border-radius: 10px;
	margin-bottom: 70px;
	left: 435px;
}

.noticeContent-div {
	width: 1000px;
	height: 100%;
	text-align: center;
	word-wrap: break-word;
	margin: auto;
	padding: 30px;
}

.notice-div {
	width: 470px;
	text-align: center;
	word-wrap: break-word;
	margin: auto;
	font-weight: bolder;
	font-size: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#notice-table>tbody>tr>td {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 5px solid #f4c9c9;
	height: 70px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#noticeContent-table>tbody>tr>td {
	padding-top: 10px;
	padding-bottom: 10px;
	border: 5px solid #f4c9c9;
	height: auto;
}

#noticeContent-table thead {
	background-color: #fde0e0;
}

#noticeContent-table th {
	text-align: center;
}

.notice-tbody {
	border: 5px solid #f4c9c9;
}

.notice-thead {
	border: 5px solid #f4c9c9;
}

.notice_moreBtn {
	width: 1000px;
	height: 56px;
	border: 1px solid #fe8181;
	background-color: #fe8181;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
	color: #fff;
	margin-left: 15px;
	border-radius: 10px;
}

.noticeContent-thead_td1 {
	padding: 8px;
	width: 65%;
	border: 5px solid #f4c9c9;
	height: 70px;
	font-size: font-size: 25px;
	font-weight: bolder;
	text-align: left;
	padding-left: 45px;
	line-height: 3;
}

.noticeContent-titleDiv {
	width: 550px;
	margin-left: 30px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
}

.notice-titleNum {
	display: inline-block;
	width: 55px;
	padding: 0.3125em 0.375em 0.3125em;
	font-size: 16px;
	font-weight: bold;
	color: white;
	background-color: #e18989;
	line-height: 1;
	letter-spacing: -0.05em;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #e18989;
	border-radius: 3px;
	float: left;
	margin-left: 30px;
}

.noticeContent-titleNum {
	display: inline-block;
	width: 55px;
	padding: 0.3125em 0.375em 0.3125em;
	font-size: 16px;
	font-weight: bold;
	color: white;
	background-color: #e18989;
	line-height: 1;
	letter-spacing: -0.05em;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #e18989;
	border-radius: 3px;
	float: left;
	position: relative;
	top: 10px;
}