@charset "UTF-8";

body, ul, li{
	margin: 0px;
	padding: 0px;
}

ul, li{
	list-style: none;
	margin: 0px;
	padding:0px;
}

a{
	text-decoration: none;
}

.middle{
	width: 1024px;
	margin: auto;
}